<div>
  <form>
    <div class="form-group">
      <div class="col-12">
        
        <h3 style="padding-top: 2%; padding-bottom: 2%;" align = "center">-FACTURA-</h3>
        <div class="row">
          <div class="col-3">
            <label for="nombre">Tipo</label>
            <input type="text" class="form-control" name="tipoF" [(ngModel)]="unaFactura.tipo">
          </div>
          <div class="col-3">
            <label for="nombre">Numero</label>
            <input type="text" class="form-control" name="nroF1" [(ngModel)]="unaFactura.numero">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="cuit">Cliente</label>
            <select class="form-control" name="unname" [(ngModel)]="cliente.id" (change)="cambiarCliente()">
              <option [ngValue]="null" disabled>Elija un cliente</option>
              <option *ngFor="let unCliente of database.listadoClientes" [ngValue]="unCliente.id" >
                {{unCliente.nombre}}
              </option>
            </select>
          </div>
          <div class="col-6">
            <label for="cuit">Fecha</label>
            <input type="date" class="form-control" name="fechaF" [(ngModel)]="unaFactura.fecha">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="direccion">Nombre</label>
            <input type="text" class="form-control" name="nombreF" [(ngModel)]="unaFactura.nombre">
          </div>

          <div class="col-6">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" name="cuitF" [(ngModel)]="unaFactura.cuit">
          </div>
        </div>

        <label for="cuit">Direccion</label>
        <input type="text" class="form-control" name="direccionF" [(ngModel)]="unaFactura.direccion">
        <br>

      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cuit</th>
            <th scope="col">Codigo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">PU</th>
            <th scope="col">IVA</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <label for="cuit">Total</label>
      <input type="text" class="form-control" name="total" [(ngModel)]="unaFactura.total">
      <br>
    </div>
  </form>
</div>
debug: {{ clienteID | json}}
debug : {{ unaFactura | json}}