Facturas en el sistema: <br>
<div class="form-group">
  <label>Buscar</label>
  <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Cuit">
</div>
<ul class="list-group">
  <button class="list-group-item list-group-item-action"
    *ngFor="let unaFactura of database.listadoFacturas | buscar:busqueda" >
    <b>Tipo:</b> {{ unaFactura.tipo }} , <b> Fecha: </b> {{unaFactura.fecha}}, <b> Numero: </b> {{unaFactura.numero}} <b>Total: </b> {{unaFactura.total}}
    <button class="btn btn-danger darespacio float-right"
    (click)="eliminarFactura(unaFactura.id)">Borrar
  </button>
  <button class="darespacio  btn btn-primary float-right" (click)="mostrar(unaFactura)">
    Ver
  </button>
  </button>
</ul>


<div class="row">
  <div class="col-12">
    <div class="col-3"><b>Tipo: </b> {{unaFactura.tipo}}</div>
    <div class="col-3"><b>Numero: </b> {{ unaFactura.numero}}</div>
    <div class="col-3"><b>Cliente: </b> {{ unaFactura.cliente.nombre}}</div>
    <div class="col-3"><b>Total: </b> {{ unaFactura.total}}</div>
    <div class="col-3"><b>Items: </b></div>
    <div *ngFor="let aItem of unaFactura.items" class="col-3">
      {{aItem.descripcion}}
    </div>
  </div>

</div>

