Productos del sistema: <br>
<div class="form-group">
  <label>Buscar</label>
  <input type="text" class="form-control" placeholder="Codigo" [(ngModel)]="busqueda">
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-action" *ngFor="let unProducto of database.listadoProductos | buscar:busqueda">
    Codigo: <b>{{ unProducto.codigo }}</b>, Precio: {{unProducto.precioUnitario}}<div class=""><button class="darespacio btn btn-dark" (click)="solicitarModificacion(unProducto)">Editar</button> <button class="btn btn-danger darespacio" (click)="eliminarProducto(unProducto.id)">Borrar</button></div>
    {{unProducto | json}}
  </li>
</ul>