Productos del sistema: <br>
<div class="form-group">
  <label>Buscar</label>
  <input type="text" class="form-control" placeholder="Codigo" [(ngModel)]="busqueda">
</div>
<ul class="list-group">
  <button class="list-group-item list-group-item-action "
    *ngFor="let unProducto of database.listadoProductos | buscar:busqueda">
    <b>Codigo:</b>  {{ unProducto.codigo }}  , <b>Precio:</b>  {{unProducto.precioUnitario}}
    <button class="btn btn-danger darespacio float-right" (click)="eliminarProducto(unProducto.id)">Borrar
    </button>
    <button class="darespacio btn btn-dark float-right" (click)="solicitarModificacion(unProducto)">Editar
    </button>
  </button>
</ul>