Clientes en el sistema: <br>
<div class="form-group">
  <label>Buscar</label>
  <input type="text" class="form-control" [(ngModel)]="busqueda" placeholder="Nombre">
</div>
<ul class="list-group">
  <button class="list-group-item list-group-item-action"
    *ngFor="let unCliente of database.listadoClientes | buscar:busqueda">
    <b>Nombre:</b> {{ unCliente.nombre }}, <b> cuit: </b> {{unCliente.cuit}}
    <button class="btn btn-danger darespacio float-right"
    (click)="eliminarCliente(unCliente.id)">Borrar
  </button>
    <button class="darespacio btn btn-dark float-right"
      (click)="solicitarModificacion(unCliente)">Editar
    </button> 
  </button>
</ul>