<div>
  <form>
    <div class="form-group">

      <label for="codigo">Codigo</label>
      <input type="text" class="form-control" name="codigo" [(ngModel)]="unProducto.codigo"> <br>

      <label for="descripcion">Descripción</label>
      <input type="text" class="form-control" name="descripcion" [(ngModel)]="unProducto.descripcion"> <br>

      <label for="precio">Precio</label>
      <input type="text" class="form-control" name="precioUnitario" [(ngModel)]="unProducto.precioUnitario"> <br>

      <button class="btn btn-outline-primary" (click)="addProducto()">Guardar</button>

    </div>
  </form>

</div>

{{unProducto | json}}